@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Mulish", serif;
  background-color: white;
  width: 100%;
  height: 100%;
}

/* shared styles  */
.container {
  /* width: 83.33%; */
  width: 75rem;
  margin: 0 auto;
}

.para-primary {
  color: #222222;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
}

header {
  position: relative;
  z-index: 10;
}
/* top nav styles */
.top-nav-bgColor {
  background-color: #edf5ff;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
}
.phone {
  display: flex;
  align-items: center;
  gap: 7.27px;
}
.phone-link {
  text-decoration: none;
}
.top-nav-right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.top-nav-right li {
  list-style-type: none;
}
.top-nav-right-para {
  text-decoration: none;
  color: #222222;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.fa-angle-down {
  color: #515755;
  margin-left: 0.25rem;
}

/* main nav styles */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 1.3125rem 0;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #b9b9b94d;
  border-radius: 5px;
  overflow: hidden;
  width: 34.4375rem;
  background: white;
}

.menu-btn {
  background: none;
  border: none;
  border-right: 1px solid #b9b9b94d;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
  color: #9b9b9b;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.875rem;
  margin-right: 1.125rem;
}
.menu-btn i {
  color: #9b9b9b;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.875rem 0;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.search-btn {
  background: #1455ac;
  border: none;
  width: 4rem;
  height: 2.9rem;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 0px 5px 5px 0px;
}
.home-banner {
  margin: 0.625rem 0;
  height: 3.4375rem;
  width: 12.625rem;
  background-image: url("../assets/home_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* browse collection styles */
.browse-category-section {
  border: 1px solid rgba(185, 185, 185, 0.4);
  background: white;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}
.browse-category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.browse-category {
  background-color: #1455ac;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 1.25rem;
  color: white;
}
.browse-category i {
  color: white;
  margin-left: 1rem;
}
.browse-category-para {
  font-size: 0.875rem;
}
.browse-category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: start;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0;
}
.browse-category-list li {
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #222222;
}
.browse-category-list i {
  color: #222222;
  margin-left: 0.875rem;
}
.login {
  font-size: 0.75rem;
  color: #222222;
}
.user-icon {
  background-color: #b9b9b9;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  margin-right: 7px;
}
.icon-div {
  display: flex;
  align-items: center;
}
.icon-div i {
  color: #b9b9b9;
  font-size: 1.25rem;
}
.icon-code {
  border-right: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  padding: 0.2rem 1rem;
}
.icon-heart {
  border-right: 1px solid #b9b9b9;
  padding: 0.2rem 1rem;
}
.icon-cart {
  padding: 0.2rem 1rem;
}
.icon-div > div {
  position: relative;
  display: inline-block;
}
.badge {
  position: absolute;
  color: white;
  top: -5px;
  right: 5px;
  left: auto;
}
.badge > span {
  font-size: 0.75rem;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #1455ac;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

/* main section styles */
.main-section {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -3px rgba(145, 158, 171, 0.05),
    0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2.4fr 1.1fr;
  gap: 0.75rem;
}

/* left aside styles */
.left-aside h4 {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 800;
}
.left-aside-list {
  padding: 0.625rem 0 0.625rem 0.3125rem;
}
.left-aside-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #222222;
  padding: 0.6875rem 0;
  cursor: pointer;
  list-style-type: none;
  border-bottom: 1px solid rgba(185, 185, 185, 0.2);
  margin-top: 0.2rem;
}
.left-aside-list i {
  color: #4b5864;
  font-size: 9.3px;
}
.view-all {
  text-align: center;
}
.view-all a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
}

/* middle */
.carousel {
  width: 100%;
  margin: auto;
  max-width: 620px;
  margin-top: 1rem;
}

.carousel-main {
  width: 100%;
  height: 310px;
  position: relative;
  z-index: 1;
}

.carousel-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4.13px;
  box-shadow: 0px 9.92px 19.83px -3.31px rgba(145, 158, 171, 0.1);
}

.carousel-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
  margin-top: 10px;
}

.carousel-thumbnails img {
  width: 100%;
  height: 145.31px;
  object-fit: fill;
  border-radius: 3.4px;
}
.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 100;
}

.pagination .dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination .dot.active {
  background-color: #1455ac;
}
/* Products styles */
.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem;
  position: relative;
}

.deals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 2.5rem;
}
.deals {
  background-image: url("./assets/star.png");
  height: 122px;
  width: 122px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deals-para {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1455ac;
  font-family: "Lato", serif;
}
.deals-para span {
  font-size: 0.875rem;
  color: #9b9b9b;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 1.5625rem;
}
.timer-div {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #f2f8fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-para {
  font-size: 0.875rem;
  color: #9b9b9b;
  margin-top: 0.8125rem;
  text-align: center;
}
.timer span {
  font-weight: 500;
  color: #222222;
  font-size: 1rem;
  font-family: "Helvetica Neue", sans-serif;
}
/* products card */
.product-container {
  position: relative;
  overflow: hidden;
}
.product-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1.875rem 0 2.125rem 1.4375rem;
  transition: transform 0.5s ease-in-out;
}
.product-card {
  position: relative;
}
.product-card img {
  border-radius: 8px;
  border: 1px solid #b9b9b933;
}
.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #db3022;
  color: white;
  padding: 4px 8px;
  border-radius: 29px;
  font-size: 12px;
  font-weight: 800;
}
.rating {
  color: #ffba49;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.rating span {
  color: #9b9b9b;
  font-size: 10px;
}
.price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.original-price {
  text-decoration: line-through;
  color: #9b9b9b;
  font-size: 14px;
  margin-top: 5px;
}
.discounted-price {
  color: #1455ac;
  font-weight: bold;
}
.store-name {
  color: #9b9b9b;
  font-size: 11px;
  margin-top: 7px;
}
.product-card h3 {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}
.next-btn {
  border-radius: 45px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  background: rgba(20, 85, 172, 0.9);
  width: 39px;
  height: 39px;
  position: absolute;
  top: 45%;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn button {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
}
.prev-btn {
  border-radius: 45px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  background: rgba(20, 85, 172, 0.9);
  width: 39px;
  height: 39px;
  position: absolute;
  top: 45%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-btn button {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
}

.gradient {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 1;
}
.lightning {
  width: 0;
  height: 0;
  border-left: 53.17px solid transparent;
  border-right: 0px solid transparent;
  border-top: 53.17px solid #1455ac;
  color: white;
  border-radius: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
}
.lightning i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -230%);
}
.sold-out {
  padding: 0.5rem;
  border-radius: 0px 0px 8px 8px;
  backdrop-filter: blur(2000px);
  background: rgb(255, 255, 255);
  opacity: 0.8;
  position: absolute;
  top: 50%;
}
.sold-out p {
  font-size: 11px;
  color: #222222;
}
.cart{
  background-color: #1455ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 45%;
  right: 5%;
}
.cart i{
    color: white;
}
#logo-hidden{
    display: none;
}
.hamburger{
    display: none;
}

/* mobile responsive */

@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    .left-aside{
        display: none;
    }
    .right-aside{
        display: none;
    }
    .main-section{
        grid-template-columns: 1fr;
    }
    #thumb1{
        display: none;
    }
    #thumb2{
        display: none;
    }
    .product-section{
        flex-direction: column;
    }
    .home-banner{
        display: none;
    }
    .browse-category{
        display: none;
    }
    .icon-div{
        display: none;
    }
    .search-container {
        display: none; 
    }
    .browse-category-list{
        display: none;
    }
    .hamburger {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1rem;
    }
    .next-btn{
        display: none;
    }
    .prev-btn{
        display: none;
    }
    .gradient{
        display: none;
    }
    .product-container{
        width: 90%;
    }
    .product-wrapper{
        gap: 1rem;
    }
    #seller{
        display: none;
    }
    .top-nav{
        padding: 0.35rem 0;
    }
    .top-nav-right{
        padding: 0;
    }
    #logo-hidden{
        display: block;
        padding: 0.35rem 0;
    }
    .logo{
        display: none;
    }
    .main-section{
        padding: 0;
    }
    .deals-container{
        padding: 0;
    }
}